    <!--=============================== HEADER =============================-->
    <header class=" " id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">Rahul Jangir</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <svg class="nav--btn" xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 24 24">
                                <path d="M3 13h1v7c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-7h1a1 1 0 0 0 .707-1.707l-9-9a.999.999 0 0 0-1.414 0l-9 9A1 1 0 0 0 3 13zm7 7v-5h4v5h-4zm2-15.586 6 6V15l.001 5H16v-5c0-1.103-.897-2-2-2h-4c-1.103 0-2 .897-2 2v5H6v-9.586l6-6z"></path>
                            </svg>Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <svg class="nav--btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="29">
                                <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
                            </svg> About
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#skills" class="nav__link">
                            <svg class="nav--btn" xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 24 24">
                                <path d="M19.903 8.586a.997.997 0 0 0-.196-.293l-6-6a.997.997 0 0 0-.293-.196c-.03-.014-.062-.022-.094-.033a.991.991 0 0 0-.259-.051C13.04 2.011 13.021 2 13 2H6c-1.103 0-2 .897-2 2v16c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V9c0-.021-.011-.04-.013-.062a.952.952 0 0 0-.051-.259c-.01-.032-.019-.063-.033-.093zM16.586 8H14V5.414L16.586 8zM6 20V4h6v5a1 1 0 0 0 1 1h5l.002 10H6z"></path>
                                <path d="M8 12h8v2H8zm0 4h8v2H8zm0-8h2v2H8z"></path>
                            </svg> Skills
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#qualification" class="nav__link">
                            <svg class="nav--btn" xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 24 24">
                                <path d="M20 6h-3V4c0-1.103-.897-2-2-2H9c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2zm-5-2v2H9V4h6zM8 8h12v3H4V8h4zM4 19v-6h6v2h4v-2h6l.001 6H4z"></path>
                            </svg>Qualification
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#portfolio" class="nav__link">
                            <svg class="nav--btn" xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 24 24">
                                <path d="M11.024 11.536 10 10l-2 3h9l-3.5-5z"></path>
                                <circle cx="9.503" cy="7.497" r="1.503"></circle>
                                <path d="M19 2H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.806 5 19s.55-.988 1.012-1H21V4c0-1.103-.897-2-2-2zm0 14H5V5c0-.806.55-.988 1-1h13v12z"></path>
                            </svg> portfolio
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#contact" class="nav__link">
                            <svg class="nav--btn" xmlns="http://www.w3.org/2000/svg" width="19" height="29" viewBox="0 0 24 24">
                                <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
                                <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
                            </svg> Contact me
                        </a>
                    </li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Language </a>


                        <ul class="dropdown__menu">
                            <li class="dropdown__item">
                                <a href="#googtrans(hi)" class="nav__link lang-hi lang-select">Hindi</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#googtrans(en)" class="nav__link lang-en lang-select">English</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#googtrans(es)" class="nav__link lang-es lang-select">Spanish</a>
                            </li>
                            <li class="dropdown__item">
                                <a href="#googtrans(zh-CN)" class="nav__link lang-es lang-select">Chinese</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <svg class="uil uil-times nav__close" id="nav-close" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path>
                </svg>
            </div>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <!-- ===== language MODE ===== -->
            <!-- <a href="#" title="Language" class="change-language " id="language-button"><b>HE</b></a> -->
            <!-- <a href="#googtrans(en|hi)" class="lang-es lang-select" data-lang="es">Hindi</a> -->
            <div class="nav__btns">
                <!--Theme change button-->
                <!-- <i class="uil uil-moon change-theme" id="theme-button"></i> -->
                <!-- icon moon -->
                <svg class="hide themeIcon" id="uil-moon" xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 24 24">
                    <path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z"></path>
                </svg>
                <!-- icon SUN -->
                <svg id="uil-sun" class="themeIcon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                    <path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"></path>
                </svg>

                <div class="nav__toggle" id="nav-toggle">
                    <!-- <i class="uil uil-apps"></i> -->
                    <svg class="nav--menu" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
                        <path d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"></path>
                    </svg>
                </div>
            </div>
        </nav>
    </header>
